*,
html,
body {
  margin: 0;
}
body {
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 'Roboto';

  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
}
main {
  margin-top: 30px;
  background: url(images/background.jpg);
  width: 365px;
  height: 812px;
  margin-top: 20px;
}
.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}
.user {
  width: 10rem;
  margin: 11.5rem auto 0;
}
.user > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  top: 40;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.name {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.git {
  color: white;
  text-decoration: none;
  margin-top: 1rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}
.frase {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.icon {
  height: 32px;
  width: 32px;
  border-radius: 5px;
}
